.style{

    display: inline-block;
    margin:35px ;
    padding: 35px ;
    height: 200px;
    width: auto;
    text-align: center;
    border:2px solid black;
    border-radius: 30px;
    background:#4F4F4F;
    font-weight: bold;
    font-style: normal;
    font-size:x-large;
    font-family: Arial, sans-serif;

    
   



}

#button{




 display: inline-block;
padding:15px;
left: 30px;



background:#D1D1D1;
width:200px;
border-radius: 50px;
color:white; 



}

#button:hover{
    background-color:#A8A8A8 ;
    color:black;
}

